<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyan.community"
    android:versionCode="1"
    android:versionName="1.0"
    >
    <!-- 添加该自定义权限 -->
    <uses-permission android:name="cn.bmob.permission.push" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Push SDK权限 end -->
    <!-- 允许网络连接以及网络状态改变 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 文件存储 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <application
        android:name="com.cyan.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="58186f4d0508dd387657a033a041634e" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>

        <activity
            android:name="com.cyan.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cyan.ui.LoginActivity"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">

        </activity>
        <activity
            android:name="com.cyan.ui.UserActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.cyan.ui.UserInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme">

        </activity>
        <activity
            android:name="com.cyan.ui.RegisterActivity"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.cyan.ui.SelectPicPopupWindow"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.cyan.ui.PostActivity"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cyan.ui.DoodleActivity"
            android:theme="@style/BaseAppTheme.AppTheme">

        </activity>
        <activity
            android:name="com.cyan.ui.ContentActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.cyan.ui.MessageActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.cyan.ui.CollectionActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.SettingsActivity"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.PostListActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.FocusActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.FansActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.RecordActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme" />
        <activity
            android:name="com.cyan.ui.AboutActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"/>
        <activity
            android:name="com.cyan.ui.PhotoActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"/>
        <activity
            android:name="com.cyan.ui.DraftActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"/>
        <activity
            android:name="com.cyan.ui.SearchActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.AppTheme"/>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process="cn.bmob.push"
            android:permission="cn.bmob.permission.push">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter android:priority="2147483647"><!--优先级加最高-->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cyan.receiver.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
